<html>
    <head>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <link href="{{ STATIC_URL }}css/puzzles.css" rel="stylesheet" />
        <title>Puzzles</title>
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1>jigs</h1>
            </div>
        </div>
        <div class="container">
            {% for puzzle in puzzles %}
                {% cycle '<div class="row-fluid">' '' '' %}
                    <div class="puzzleContainer span3 {% cycle 'offset1' '' '' %}">
                        <img src="{{ MEDIA_URL }}{{ puzzle.get_thumbnail_path }}" class="puzzlePortrait img-polaroid">
                        <div class="sessionList well">
                            <ul class="nav nav-list">
                                <li class="nav-header">Sessions</li>
                                {%for sess in puzzle.puzzlesession_set.all%}
                                    <li><a href="/puzzle/{{puzzle.guid}}?session={{sess.guid}}">{{sess.guid}}</a></li>
                                {%endfor%}
                                <li class="divider"></li>
                                <li><a href="/puzzle/start/{{puzzle.guid}}">Start new session</a></li>
                            </ul>
                        </div>
                    </div>
                {% cycle '' '' '</div>' %}
            {% endfor %}
        </div>
    </body>
</html>