<html>
    <head>
        <style>
            #puzzle{
                width:100%;
                height:100%;
                border:1px solid;
            }
        </style>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>        
        <script type="text/javascript">
            var pieces = [],pieceDict={},dirtyPieces=[],
                cvOrigin = [0,0],mouseStart=[0,0],mouseEnd=[0,0],mouseDown=false,
                zoom = 1,
                selectedObject=null;
            function puzzleUpdate()
            {
                var data = {
                    session:"{{session_guid}}"
                };
                if (true){
                    for (var i=0;i<dirtyPieces.length;i++){
                        var piece = dirtyPieces[i];
                        data["sessp"+piece.id] = [piece.offsetX,piece.offsetY];
                        dirtyPieces.pop();
                        i--;
                    }
                }

                $.ajax({
                  type: "POST",
                  url: "status/",
                  data: JSON.stringify(data),
                  success: function(json){
                        for (var piece_id in json){
                            if (!selectedObject || (selectedObject && piece_id != selectedObject.id)){
                                var updated_piece = json[piece_id];
                                pieceDict[piece_id].offsetX = updated_piece.pos[0];
                                pieceDict[piece_id].offsetY = updated_piece.pos[1];
                            }
                        }
                        Draw(puzzle);
                  },
                  dataType: "json"
                });
            }
            function Draw(canvas)
            {
                // Clear the canvas first
                canvas.width = canvas.width
                var ctx = canvas.getContext('2d');
                ctx.scale(zoom,zoom);
                ctx.translate(cvOrigin[0],cvOrigin[1]);
                for (var i=0;i<pieces.length;i++){
                    var piece = pieces[i];
                    ctx.drawImage(piece.image,piece.offsetX,piece.offsetY,piece.width,piece.height);
                    if (piece == selectedObject){
                        ctx.strokeStyle = '#ff0';
                    }else{
                        ctx.strokeStyle = '#000';
                    }
                    ctx.strokeRect(piece.offsetX,piece.offsetY,piece.width,piece.height);                    
                }
                
                for (var i=0;i<pieces.length;i++){
                    var piece = pieces[i];
                    ctx.fillStyle = '#ff0';
                    ctx.fillText(piece.id,piece.offsetX,piece.offsetY+40);
                }
            }
            $(document).ready(function(){
                var canvas = $("#puzzle")[0];

                {% for piece_id, data in session_data.items %}
                    var piece={};
                    piece.image = new Image();
                    piece.image.src = "/media/{{ data.path }}";
                    piece.id = {{ piece_id }};
                    piece.offsetX = {{ data.pos.0 }};
                    piece.offsetY = {{ data.pos.1 }};
                    piece.width = {{ data.size.0 }};
                    piece.height = {{ data.size.1 }};
                    pieceDict[{{ piece_id }}] = piece;
                    piece.image.onload = function(){
                        Draw(canvas);
                    }
                    pieces.push(piece);
                {%endfor%}

                $("#puzzle").mousedown(function (e)
                {    
                    var mouseXY = [e.pageX,e.pageY],
                        pieceHit = false,
                        x = mouseXY[0]/zoom,
                        y = mouseXY[1]/zoom;
                    mouseStart = mouseXY;
                    mouseDown = true;

                    if (e.button == 0){
                        for (var i=0;i<pieces.length;i++){
                            var piece = pieces[i],
                                bounds = [(cvOrigin[0]+piece.offsetX),(cvOrigin[1]+piece.offsetY),
                                          (cvOrigin[0]+piece.offsetX+piece.width),(cvOrigin[1]+piece.offsetY+piece.height)];
                            if (x >= bounds[0] && x <= bounds[2] &&
                                y >= bounds[1] && y <= bounds[3])
                                {
                                    pieceHit = true;
                                    selectedObject=piece;
                                    // Move piece to the end of the list so it gets drawn
                                    // on top.
                                    pieces.splice(i,1);
                                    pieces.push(selectedObject);
                                    Draw(canvas);
                                    break;
                                }
                        }
                    }
                    if (!pieceHit){
                        selectedObject = null;
                    }
                });
                $("#puzzle").mousemove(function (e)
                {
                    if (mouseDown){
                        var mouseXY = [e.pageX,e.pageY];
                        var diffX = mouseXY[0] - mouseStart[0];
                        var diffY = mouseXY[1] - mouseStart[1];
                        if (selectedObject) {
                            selectedObject.offsetX += diffX/zoom;
                            selectedObject.offsetY += diffY/zoom;

                            if (dirtyPieces.indexOf(selectedObject) < 0){
                                dirtyPieces.push(selectedObject)
                            }
                        }
                        else{
                            cvOrigin[0] += diffX*1.5/(zoom>0?zoom:1);
                            cvOrigin[1] += diffY*1.5/(zoom>0?zoom:1);
                        }
                        mouseStart = mouseXY;
                        Draw(canvas);
                    }
                });
                window.onmouseup = function (e)
                {
                    mouseDown = false;
                    selectedObject = null;
                    Draw(canvas)
                }
                canvas.onmousewheel = function(event){
                    var mousex = event.clientX - canvas.offsetLeft;
                    var mousey = event.clientY - canvas.offsetTop;
                    var wheel = event.wheelDelta/120;
                    if (event.wheelDelta > 0)
                    {
                        zoom *= 1.3;
                    }
                    else
                    {
                        zoom /= 1.3;
                    }
                    Draw(canvas);
                };
                
                window.addEventListener('resize', resizeCanvas, false);
                function resizeCanvas() {
                    canvas.width = window.innerWidth;
                    canvas.height = window.innerHeight;
                    Draw(canvas); 
                }
                resizeCanvas();
                window.setInterval(puzzleUpdate,100);
            });
        </script>
    </head>
    <body>
        <canvas id="puzzle"></canvas>
    </body>
</html>   
